.footer {
  border-top: 1px solid var(--color-light-grey);
  padding: 30px 180px;
  background: linear-gradient(to bottom right, rgba(138, 99, 253, 0.40) 0%,rgba(27, 5, 48, 0.35) 50%, rgba(16, 2, 49, 0.60) 99%);
}

.footer__bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  width: 140px;
}

.footer__group__copy {
  display: flex;
  align-items: flex-start;
}

.footer__copy {
  color: var(--color-white);
  padding-top: 20px;
  font-size: 13px;
  font-weight: 300;
}


@media only screen and (max-width: 480px) { 

  .footer {
    padding: 30px 20px;
    width: auto;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__group__copy {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}