.header {
  padding: 10px 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--color-light-grey);
  background: linear-gradient(to top right, rgba(138, 99, 253, 0.40) 0%,rgba(27, 5, 48, 0.35) 50%, rgba(16, 2, 49, 0.60) 99%);
}

.header__logo {
  width: 150px;
}

.header__menu {
  font-family: var(--font-family-primary);
}

.header__menu__item {
  color: var(--color-white);
  text-decoration: none;
  line-height: 20px;
  padding: 5px 20px;

}

.header__menu__item--active {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.header__check, .header__toggle {
  display: none;
}

@media only screen and (max-width: 480px) {
  
  .header {
    margin: 0;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
  }

  .header__logo {
    width: 100px;
  }

  .header__menu {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
  }

  .header__menu__item {
    display: block;
    padding: 20px 0;
    margin-top: -2px;
    width: 100%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
  }

  .header__menu__item--active {
    color: var(--color-white);
    background-color: var(--color-purple)
  }

  .header__check:checked ~ .header__menu {
    transform: translateX(0);
  }

  .header__toggle {
    display: block;
  }

  .fa-bars {
    color: var(--color-white);
  }
}