
.about__content {
  margin: 20px 280px;
  color: var(--color-white);
  position: relative;
}

.about__title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

.about__text {
  font-size: var(--font-size-default);
  line-height: 30px;
}

@media only screen and (max-width: 480px) { 

  .about__content {
    margin: 20px;
    color: var(--color-white);
    position: relative;
  }
  
  .about__title {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

}