.about__page {
  color: var(--color-white);
  margin: 170px 280px 0px 280px;
}

.about__page__title {
  font-size: 44px;
  line-height: 58px;
  font-weight: 600;
  padding-bottom: 20px;
}

.about__page__text {
  font-size: var(--font-size-default);
  line-height: 30px;
}

.about__col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 280px;
}

.about__title {
  color: var(--color-white);
  font-size: 24px;
  width: 200px;
  text-align: center;
}

.about__list {
  color: var(--color-white);
  font-size: var(--font-size-mobile);
  line-height: 40px;
  text-align: right;
  width: 400px;
}

.about__skills__icon {
  width: 150px;
  margin-left: 10px;
  color: var(--color-purple-bg);
  text-decoration: none;
}

.fa-bolt {
  margin-right: 6px;
  line-height: 24px;
  text-align: center;
}

.about__skills__list {
  color: var(--color-white);
  font-size: var(--font-size-mobile);
  line-height: 40px;
  text-align: center;
  width: 150px;
}

@media only screen and (max-width: 480px) { 

  .about__page {
    margin: 100px 20px 0px 20px;
  }

  .about__page__title {
    font-size: 28px;
    line-height: 36px;
  }

  .about__page__text {
    font-size: var(--font-size-mobile);
    line-height: 30px;
  }

  .about__col {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 20px;
  }

  .about__title {
    font-size: 20px;
    width: 200px;
    text-align: center;
  }
  
  .about__list {
    line-height: 20px;
    text-align: right;
    width: 50%;
  }

  .about__list__item {
    margin-bottom: 18px;
  }

  .about__skills__list {
    color: var(--color-white);
    font-size: var(--font-size-mobile);
    line-height: 60px;
    text-align: center;
    width: 50%;
  }

  .about__skills__icon {
    width: 45%;
    margin-left: 15px;
    text-decoration: none;
  }

  .fa-bolt {
    margin-right: 6px;
    line-height: 28px;
    text-align: center;
  }
}


