

.banner__photo {
  width: 1000px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.banner__content {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__title {
  color: var(--color-white);
  font-size: 44px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {

  .banner__photo {
    width: 340px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }

  .banner__content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner__title {
    color: var(--color-white);
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}