.button {
  padding: 10px 15px;
  gap: 10px;
  border-radius: 20px;
  border: none;
  border: 1px solid;
  border-color: var(--color-light-grey);
  background-color: var(--color-purple-bg);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.button:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.button--center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  align-content: center;
}

.button__more {
  color: var(--color-purple);
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--color-purple-bg);
}

.button__more:hover {
  color: var(--color-purple-bg);
  background-color: rgba(27, 5, 48, 0.35);
  padding: 5px 10px;
  border-radius: 20px;
  transition: 1s;
}

@media only screen and (max-width: 480px) { 

  .button {
    padding: 8px 12px;
    gap: 10px;
    border-radius: 20px;
    border: none;
    border: 1px solid;
    border-color: var(--color-light-grey);
    background-color: var(--color-purple-bg);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }

}