.contact {
  margin: 170px 280px 40px 280px;
  color: var(--color-white);
}

.contact__title {
  color: var(--color-white);
  font-size: 44px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact__description {
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 480px) { 

  .contact {
    margin: 100px 20px 40px 20px;
  }

  .contact__title {
    font-size: 28px;
    line-height: 36px;
  }
  
  .contact__description {
    font-size: var(--font-size-mobile);
    line-height: 28px;
  }
}