.contact__form {
  margin: 40px 280px;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__item {
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  padding: 5px 10px;
  font-size: var(--font-size-mobile);
  height: 40px;
  width: 95%;
  font-weight: 500;
  margin-right: 20px;
}

.form__item:focus, .form__item__message:focus {
  outline: none !important;
  border: 2px solid var(--color-purple);
}

.form__item__message {
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  font-family: var(--font-family-primary);
  color: var(--color-grey);
  padding: 5px 5px;
  font-size: var(--font-size-mobile);
  width: 97%;
  font-weight: 500;
}

.form__item__message::placeholder, .form__item::placeholder {
  font-family: var(--font-family-primary);
  color: var(--color-grey);
}

.form__label {
  color: var(--color-white);
  line-height: 40px;
}

.form__row {
  margin: 18px 0;
}

@media only screen and (max-width: 480px) {
 
  .contact__form {
    margin: 40px 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .form__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form__item__message {
    width: 100%;
    margin-right: 0;
  }

  .form__row {
    margin: 0;
  }
 }