.projects {
  margin: 170px 280px 40px 280px;
  color: var(--color-white);
}

.projects__title {
  color: var(--color-white);
  font-size: 44px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 20px;
}

.projects__description {
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;
}

.projects__case {
  margin: 60px 280px;
  color: var(--color-white);
}

.projects__case__row {
  margin-bottom: 60px;
  color: var(--color-white);
}

.projects__case__image {
  width: 90%;
}

.projects__case__title {
  color: var(--color-white);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.projects__case__description {
  font-size: var(--font-size-default);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}

.projects__link {
  text-decoration: none;
  font-size: var(--font-size-default);
  line-height: 32px;
  color: var(--color-purple);
  padding: 5px;
  border: 1px solid hsla(255, 97%, 69%, 0.1);
  border-radius: 5px;
}

.projects__link:hover {
  border: 1px solid hsla(255, 97%, 69%, 0.7);
  background-color: var(--color-darken-purple-bg);
  transition: 0.7s;
}


@media only screen and (max-width: 480px) {

  .projects {
    margin: 100px 20px 40px 20px;
  }

  .projects__title {
    font-size: 28px;
    line-height: 36px;
  }
  
  .projects__description {
    font-size: var(--font-size-mobile);
    line-height: 28px;
    margin-bottom: 40px;
  }

  .projects__case {
    margin: 30px 20px;
  }
  
  .projects__case__row {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .projects__case__image {
    width: 100%;
  }
  
  .projects__case__title {
    font-size: 20px;
    line-height: 33px;
  }
  
  .projects__case__description {
    font-size: var(--font-size-mobile);
    line-height: 28px;
    margin-bottom: 20px;
  }

  .projects__link {
    font-size: var(--font-size-mobile);
    line-height: 30px;
  }

}