.slider {
  margin-top: 120px;
}

.slider__container {
  margin: 0 280px 80px 280px;
  color: var(--color-white);
}

.slider__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.slider__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid hsla(262, 21%, 93%, 0.0);
  background-color: var(--color-darken-purple-bg);
  margin-top: 20px;
  transition: 0.5s;
}

.slider__cover:hover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid hsla(262, 21%, 93%, 0.4);
  background-color: hsla(266, 49%, 65%, 0.4);
  margin-top: 20px;
}

.slider__content {
  text-align: center;
  margin-right: 30px;
  width: 220px;
}

.slider__project__title {
  font-size: var(--font-size-default);
  line-height: 40px;
}

.slider__text {
  font-size: 14px;
  line-height: 30px;
}

.slider__footer {
  margin-top: 30px;
}

@media only screen and (max-width: 480px) { 

  .slider {
    margin-top: 40px;
  }

  .slider__container {
    margin: 0 20px 80px 20px;
  }

  .slider__cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slider__content {
    text-align: left;
    margin-right: 0;
    width: 100%;
  }

  .slider__project__title {
    line-height: 60px;
    margin-left: 10px;
  }

  .slider__text {
    font-size: 13px;
    line-height: 28px;
  }
}