.social {
  margin-left: 290px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.social__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.fa-brands {
  margin-right: 30px;
  color: var(--color-purple-bg);
  text-decoration: none;
}

.fa-brands:hover {
  color: var(--color-purple);
  transform: scale(1.2, 1.2);
  transition: transform 1s ;
}

.fa-brands--small {
  margin-right: 5px;
  color: var(--color-purple-bg);
  text-decoration: none;
}

@media only screen and (max-width: 480px) { 

  .social {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .fa-brands {
    margin-right: 15px;
  }

}