:root {
  --color-purple: #8a63fd;
  --color-darken-purple: #100231;
  --color-darken-grey: #362f3a;
  --color-grey: #4f4e50;
  --color-light-grey: hsla(0, 0%, 92%, 0.60);
  --color-white: #fff;
  --color-black: #070308;
  --color-darken-purple-bg: hsla(266, 59%, 22%, 0.4);
  --color-purple-bg: hsla(255, 97%, 69%, 0.8);

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-size-default: 16px;
  --font-size-mobile: 14px;
  --border-radius-default: 3px;

  --color-primary: var(--color-darken-purple);
  --font-family-primary: var(--font-family-montserrat);
}